.navLinkActive {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: bold;
  text-decoration-color: #ff6816;
  color: #263959;
}

.navLink {
  text-decoration: none;
  color: #263959;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #000;
}

.customNavbar {
  border-radius: 35px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  width: 98%;
  margin: 1rem auto 0;
}

.customNavList {
  gap: 50px;
  display: flex;
  margin-right: 1rem;
}

.dropdownMenu {
  padding: 0.5rem 1rem;
  transform: translateX(-20%);
}

.dropdownDivider {
  margin: 0.5rem 0;
}
