/* DM Serif Display */
.dm-serif-display-regular {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: normal;
}

/* Poppins */
.poppins-300 {
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-400 {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-500 {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-600 {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-700 {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-800 {
  font-family: 'Poppins', serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-900 {
  font-family: 'Poppins', serif;
  font-weight: 900;
  font-style: normal;
}

/* Open Sans */
.open-sans-300 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-400 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-500 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-600 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-700 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.open-sans-800 {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* JetBrains Mono */
.jetbrains-mono-100 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.jetbrains-mono-200 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.jetbrains-mono-300 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jetbrains-mono-400 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-500 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.jetbrains-mono-600 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.jetbrains-mono-700 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.jetbrains-mono-800 {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
